<p id="notice"><%= notice %></p>
<div class="container-fluid">
<div id="myDIV" class="header"><h1>Welcome to Your To-Do's</h1>
</div>
<br>
<br>
<p>You have <%= List.all.size %> lists. </p>
<p>You have <%= Task.all.size %> tasks total. Let's conquer them! Select a list to get started and view your tasks </p>
<%=link_to 'New List', new_list_path, class: 'btn btn-primary' %>
<br>
<br>
<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class= "row">
    <% @lists.each do |list| %>
      <div class= "col-sm=3">
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h4 class="card-title"><%= list.title.capitalize %></h4>
            <h6 class="card-subtitle mb-2 text-muted">Description: <%= list.description %></h6>
            <h6 class="card-subtitle mb-2 text-muted">Completed?   <%= list.completed %>
            <h6 class= "card-subtitle mb-2 text-muted"> Tasks:</h6>
              <ul class="list-group list-group-flush">
                <% list.tasks.each do |task| %>
                <li class="list-group-item"><%= task.title %></li>
                <% end %>
              </ul>
            <a href="#" class="card-link"><%= link_to 'Manage My Tasks', list, class: 'btn btn-outline-primary'%></a>
            <a href="#" class="card-link"><div class="btn btn-outline-primary"><%= link_to edit_list_path(list) do %>
              <i class=" fa fa-edit"></i>
            <% end %> </div></a>
            <a href="#" class="card-link"><div class="btn btn-outline-primary"><%= link_to list, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-trash-o"></i>
            <% end %></div></a>

        </div>
      </div>
    </div>
      <br>
    <% end %>
  </div>
</div>
  </div>
</div>
