<p id="notice"><%= notice %></p>

<p>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.completed %>
</p>

  <p>
    <strong>Due Date:</strong>
    <%= @task.due_date %>
  </p>
  <br>
  <br>
<%= link_to 'Back', lists_path, class: 'btn btn-xs' %>
<%= @list.tasks.inspect %>
